@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@0,200..900;1,200..900&family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


.font-montserrat{
  font-family: "Montserrat", sans-serif;
}
.font-poppins{
  font-family: "Poppins", sans-serif;
}
.font-roboto{
  font-family: "Roboto", sans-serif;
}
.font-inter{
  font-family: "Inter", sans-serif;
}
.font-crimson-pro{
  font-family: "Crimson Pro", serif;
}

html {
  scroll-padding-top: 100px;
}

.layout {
  display: grid;
  grid-template-columns: 1.8fr 10fr;
  /* padding: 0 10px; */
}

.sidebar {
  display: block;
}

.content {
  overflow: auto;
  height: 100vh;
  padding: 25px 0px;
}

.toggle-button {
  display: none;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

@media screen and (max-width: 1280px) {
  .layout {
    grid-template-columns: 12fr;
    padding: 0 10px;
  }

  .sidebar {
    display: none;
  }

  .sidebar.show {
    display: block;
  }

  .toggle-button {
    display: block;
  }
}

.font_dm_serif {
  font-family: "DM Serif Display", serif;
}

.font_open_sans {
  font-family: "Open Sans", serif;
}

.font_manrope {
  font-family: "Manrope", serif;
}

